<footer class="site-footer">

    <div class="uk-section uk-section-muted">
        <div class="uk-container uk-container-large">
            <div class="uk-grid-large" uk-grid>
                <div class="uk-width-1-4@l">
                    <a class="uk-logo uk-display-block uk-margin-bottom" href="/"><img src="{{ meta.image }}" alt="{{meta.domain}}"></a>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
                <div class="uk-width-3-4@l">
                    <div class="uk-child-width-1-3@s uk-child-width-1-5@m footer-nav" uk-grid>
                        <div>

                        </div>
                        <div>
                            
                        </div>
                        <div>
                            <h5 class="uk-h5 footer-nav-title">Title</h5>
                            <ul class="uk-nav uk-nav-default">
                                <li>
                                    <a href="#">Link</a>
                                </li>
                                <li>
                                    <a href="#">Link</a>
                                </li>
                                <li>
                                    <a href="#">Link</a>
                                </li>
                                <li>
                                    <a href="#">Link</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h5 class="uk-h5 footer-nav-title">Title</h5>
                            <ul class="uk-nav uk-nav-default">
                                <li>
                                    <a href="#">Link</a>
                                </li>
                                <li>
                                    <a href="#">Link</a>
                                </li>
                                <li>
                                    <a href="#">Link</a>
                                </li>
                                <li>
                                    <a href="#">Link</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <h5 class="uk-h5 footer-nav-title">Title</h5>
                            <ul class="uk-nav uk-nav-default">
                                <li>
                                    <a href="#">Link</a>
                                </li>
                                <li>
                                    <a href="#">Link</a>
                                </li>
                                <li>
                                    <a href="#">Link</a>
                                </li>
                                <li>
                                    <a href="#">Link</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-section uk-section-xsmall">
        <div class="uk-container uk-container-large">
            <div class="uk-text-center uk-text-muted uk-text-small">
                &copy; <span class="current-year"></span> {{meta.domain}}  |  All Rights Reserved  |  <a class="uk-link-reset" href="#">Privacy Statement</a>
            </div>
        </div>
    </div>
    <a id="totop" class="totop" href="#" uk-totop uk-scroll></a>
</footer>
