<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

<!-- Color the status bar on mobile devices -->
<meta name="theme-color" content="#181818">
<title>{{ (title_pretty + " - " + meta.domain) if title_pretty else meta.domain }}</title>
<meta name="description" content="{{ meta.description }}">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">