<div class="preloader">
    <div uk-spinner="ratio:2"></div>
    <noscript>
        <div class="uk-text-center">
            <h3>This website requires javascript to work!</h3>
            <p>Please enable javascript on your browser or try a different browser or device.</p>
        </div>
    </noscript>
</div>