{% extends "templates/layouts/default.njk" %}

{# set variables #}
{% set slug = 'test.html' %}
{% set title_pretty = 'Test page' %}

{% block content %}
    <section class="uk-section uk-section-small uk-position relative">
        <div class="uk-container uk-container-large">
            <h1>Test Page</h1>
        </div>
    </section>
{% endblock %}